@charset "utf-8"; 

.btns:hover, .btns_info:hover, a {
	text-decoration: none
}

a, img {
	outline: 0
}

img, input {
	vertical-align: middle
}

.btns {
	display: inline-block;
	width: 158px;
	font-size: 18px;
	margin-bottom: 0;
	line-height: 48px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #c7181e;
	background-color: #c7181e
}

.btns:hover {
	border: 1px solid #e6292f;
	background-color: #e6292f
}

.btns_info {
	color: #fc383e;
	border: 1px solid #fc383e;
	background-color: #fff
}

.btns_info:hover {
	color: #fff;
	background-color: #fc383e
}

a, abbr, acronym, address, applet, article, aside, audio, b, big,
	blockquote, body, canvas, caption, center, cite, code, dd, del, details,
	dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
	h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins,
	kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q,
	ruby, s, samp, section, small, span, strike, strong, sub, summary, sup,
	table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var,
	video {
	margin: 0;
	padding: 0;
	border: 0
}

html {
	-webkit-text-size-adjust: none
}

body {
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica,
		STHeiti;
	font-size: 12px;
	color: #333;
	background-color: #fff
}

ul {
	list-style: none
}

a {
	color: #c7181e
}

table {
	border-collapse: collapse
}

input {
	border: 0
}

a:hover {
	text-decoration: underline
}

.clearfix:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both
}

.clearfix {
	zoom: 1
}

.w1180 {
	width: 1180px;
	margin: 0 auto;
	overflow: hidden
}

.hide {
	display: none
}

#mall_header .topbar i, #mall_header .topmenu .msn {
	display: inline-block;
	position: relative
}

#mall_footer .w1180, #mall_header .w1180 {
	width: 1180px;
	margin: 0 auto;
	overflow: visible
}

#mall_footer .w1000, #mall_header .w1000 {
	width: 1000px;
	margin: 0 auto
}

#mall_footer .advantage i, #mall_footer .copyimg a, #mall_footer .copyimg span,
	#mall_header .my i, #mall_header .nav li a i, #mall_header .shopCar .icon_shopCar,
	#mall_header .shopCar .listBox li .btn_remove, #mall_header .topbar i {
	background: url(../img/icon_mall_layout.png) no-repeat
}

#mall_header .topbar {
	background-color: #f2f2f2;
	height: 30px;
	line-height: 30px;
	color: #9a9a9a
}

#mall_header .toplink a, #mall_header .toplink span {
	color: #9a9a9a;
	margin-right: 10px
}

#mall_header .toplink {
	float: left
}

#mall_header .topbar i {
	margin-right: 5px;
	vertical-align: middle;
	top: -2px
}

#mall_header .topbar i.home {
	width: 12px;
	height: 10px;
	background-position: -336px 0
}

#mall_header .topbar i.tel {
	width: 16px;
	height: 16px;
	background-position: -336px -16px
}

#mall_header .topmenu {
	float: right;
	text-align: right;
	color: #ccc
}

#mall_header .topmenu a, #mall_header .topmenu span {
	color: #9a9a9a;
	margin: 0 10px
}

#mall_header .topmenu .msn .msn_center {
	display: block;
	text-align: center;
	height: 31px;
	width: 77px;
	margin: 0
}

#mall_header .topmenu .msn.hover .msn_center {
	background-color: #fff;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	position: relative;
	width: 75px;
	z-index: 11;
	text-decoration: none
}

#mall_header .topmenu .msn_box {
	display: none;
	position: absolute;
	width: 165px;
	top: 30px;
	right: 0;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	text-align: left;
	padding: 5px 10px;
	color: #c7181e;
	line-height: 180%;
	z-index: 10
}

#mall_header .topmenu .msn.hover .msn_box {
	display: block
}

#mall_header .topmenu .msn_box a {
	color: #3078bf
}

#mall_header .topmenu .msn span {
	color: #c7181e;
	margin: 0 0 0 4px;
	font-weight: 700;
	font-family: serif
}

#mall_header .header_box {
	height: 80px
}

#mall_header .logo {
	float: left;
	width: 135px;
	height: 80px;
	background: url(img/db3654ca.logo_mall.png) no-repeat
}

#mall_header .minilogo {
	background: url(img/db3654ca.logo_mall.png) 0 -80px no-repeat
}

#mall_header .logo_point {
	background: url(img/db3654ca.logo_mall.png) 0 -160px no-repeat
}

#mall_header h1 {
	float: left;
	margin: 13px 0 0 20px;
	padding-left: 20px;
	height: 54px;
	line-height: 54px;
	font-weight: 400;
	color: #666;
	border-left: 1px solid #e6e6e6
}

#mall_header .nav {
	overflow: hidden;
	float: left;
	margin-left: 80px
}

#mall_header .nav li {
	float: left;
	height: 36px;
	text-align: center;
	padding-top: 25px;
	font-size: 16px;
	margin-right: 5px
}

#mall_header .nav li a {
	color: #333;
	display: block;
	height: 36px;
	padding: 0 25px;
	line-height: 36px;
	border-radius: 4px
}

#mall_header .nav li a.hot {
	position: relative
}

#mall_header .nav li a.hot .icon_hot {
	position: absolute;
	right: -10px;
	top: -8px;
	width: 24px;
	height: 15px;
	background-position: -370px -45px
}

#mall_header .shopCar {
	float: right;
	z-index: 11;
	height: 36px;
	margin-top: 25px;
	font-family: Arial, Verdana;
	position: relative
}

#mall_header .shopCar .default {
	width: 40px;
	height: 34px;
	border: 1px solid #DFDFDF;
	padding: 0 15px 0 46px;
	background: #F9F9F9;
	text-align: center;
	line-height: 34px;
	position: relative
}

#mall_header .shopCar.hover .default {
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2)
}

#mall_header .shopCar .default a {
	color: #333
}

#mall_header .shopCar .icon_shopCount {
	position: absolute;
	top: -7px;
	right: 6px;
	display: inline-block;
	padding: 2px;
	font-size: 12px;
	line-height: 12px;
	font-style: normal;
	color: #fff;
	background-color: #e6292f;
	border-radius: 7px;
	min-width: 12px;
	text-align: center
}

#mall_header .shopCar .icon_shopCar {
	position: absolute;
	display: block;
	top: 7px;
	left: 12px;
	width: 24px;
	height: 20px;
	background-position: -372px -68px
}

#mall_header .shopCar .shop_list {
	display: none;
	right: 0;
	width: 300px;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	position: absolute
}

#mall_header .shopCar.hover .shop_list {
	display: block
}

#mall_header .shopCar .spacer {
	position: absolute;
	right: 0;
	top: -7px;
	width: 101px;
	height: 12px;
	background: #fff
}

#mall_header .shopCar .empty {
	padding: 15px;
	color: #999;
	text-align: center
}

#mall_header .shopCar .tit {
	padding: 15px 15px 0;
	color: #666;
	font-weight: 700
}

#mall_header .shopCar .mall {
	max-height: 183px;
	overflow-y: auto
}

#mall_header .shopCar .mall.mall_point {
	max-height: 213px;
	overflow-y: auto
}

#mall_header .shopCar .mall .listBox li {
	height: 40px;
	border-bottom: 1px dotted #ccc;
	background-color: #fff;
	overflow: hidden;
	padding: 10px 15px;
	line-height: 180%
}

#mall_header .shopCar .mall.mall_point .listBox li {
	height: 50px
}

#mall_header .shopCar .mall .listBox li:hover {
	background-color: #f8f8f8
}

#mall_header .shopCar .mall .listBox li .name {
	float: left;
	width: 172px;
	position: relative
}

#mall_header .shopCar .mall.mall_point .listBox li .name {
	padding: 0 0 0 57px;
	width: 115px
}

#mall_header .shopCar .mall.mall_point .listBox li .name img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
	border: 1px solid #e6e6e6
}

#mall_header .shopCar .mall .listBox li .r {
	float: right;
	width: 80px;
	font-weight: 700
}

#mall_header .shopCar .mall .listBox li .price {
	width: 80px;
	text-align: right
}

#mall_footer .copyright, #supply_footer p, .gotop, .gotop a p, .popup .close
	{
	text-align: center
}

#mall_header .shopCar .mall .listBox li .btn_remove {
	display: block;
	width: 14px;
	height: 14px;
	background-position: -373px -89px;
	float: right;
	margin-top: 4px
}

#mall_header .shopCar .mall .listBox li:hover .btn_remove {
	background-position: -389px -89px
}

#mall_header .shopCar .collect {
	border-top: 1px solid #e6e6e6;
	background-color: #f2f2f2;
	padding: 10px 15px;
	margin-top: -1px
}

#mall_header .shopCar .collect .btn_submit {
	display: block;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	background-color: #c7181e;
	border-radius: 3px;
	color: #fff;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica,
		STHeiti;
	margin: 10px 0
}

#mall_header .shopCar .collect .btn_submit:hover {
	background-color: #e6292f;
	text-decoration: none
}

#mall_header .shopCar .collect .other, #mall_header .shopCar .collect .txt
	{
	overflow: hidden
}

#mall_header .shopCar .collect .other a, #mall_header .shopCar .collect .sum
	{
	float: right
}

#mall_header .shopCar .collect .sum i {
	font-style: normal
}

#mall_header .shopCar .collect .other {
	color: #999
}

#mall_header .shopCar .collect .other a {
	color: #3078bf
}

#mall_header .shopCar .collect .num {
	color: #c7181e;
	font-weight: 700
}

#mall_header .subtitle .nav {
	float: right
}

#mall_header .subtitle h1 {
	float: left;
	font-size: 24px;
	margin: 13px 0 0 20px;
	padding-left: 20px;
	height: 54px;
	line-height: 54px;
	font-weight: 400;
	color: #666;
	border-left: 1px solid #e6e6e6
}

#mall_footer {
	margin-top: 40px
}

#mall_footer a {
	color: #999
}

#mall_footer .advantage {
	background-color: #f5f6f8;
	overflow: hidden;
	height: 120px;
	line-height: 120px
}

#mall_footer .advantage li {
	float: left;
	width: 13.5%;
	padding-left: 6.5%;
	font-size: 18px;
	position: relative
}

#mall_footer .advantage i {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 30px;
	left: 0
}

#mall_footer i.ad1 {
	background-position: 0 -44px
}

#mall_footer i.ad2 {
	background-position: -64px -44px
}

#mall_footer i.ad3 {
	background-position: -128px -44px
}

#mall_footer i.ad4 {
	background-position: -192px -44px
}

#mall_footer i.ad5 {
	background-position: -256px -44px
}

#mall_footer .help_link {
	margin: 10px auto 20px;
	overflow: hidden
}

#mall_footer .help_link li {
	float: left;
	color: #999;
	line-height: 200%;
	width: 13.5%;
	padding-left: 6.5%
}

#mall_footer .help_link dt {
	font-size: 16px;
	padding: 0 0 15px
}

#mall_footer .help_link .contact {
	line-height: 150%;
	float: right
}

#mall_footer .help_link .contact dt {
	padding: 0;
	font-size: 14px
}

#mall_footer .help_link .contact dl {
	margin-bottom: 15px
}

#mall_footer .copyright {
	padding: 30px 0 20px;
}

#mall_footer .link {
	color: #ccc
}

#mall_footer p {
	padding: 15px 0 0;
	color: #999
}

#mall_footer .honor span {
	margin: 0 5px
}

#mall_footer .copyimg {
	margin-top: 15px
}

#mall_footer .copyimg a, #mall_footer .copyimg span {
	display: inline-block;
	height: 40px;
	margin: 0 10px
}

#mall_footer .copyimg .img1 {
	width: 106px;
	background-position: 0 0
}

#mall_footer .copyimg .img2 {
	width: 113px;
	background-position: -106px 0
}

#mall_footer .copyimg .img3 {
	width: 112px;
	background-position: -219px 0
}

#mall_footer .copyimg .img4 {
	width: 106px;
	background-position: -357px 0
}

#supply_footer {
	color: #999;
	border-top: 1px solid #e1e2e3;
	padding: 48px 0
}

#supply_footer .help_link {
	overflow: hidden;
	margin-bottom: 48px;
	font-size: 14px
}

#supply_footer .help_link li {
	float: left;
	width: 169px;
	height: 140px;
	padding: 10px 0 0 80px;
	border-right: 1px dashed #e2e2e2
}

#supply_footer .help_link li.contact {
	width: 429px;
	padding: 10px 0 0;
	background: url(img/39a18f3d.footer_contact.png) no-repeat
}

#supply_footer .help_link li a {
	display: block;
	color: #999;
	margin-bottom: 30px
}

.mask {
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	opacity: .5;
	filter: alpha(opacity = 50);
	background: #000
}

.gotop, .jcarousel-next:hover, .jcarousel-prev:hover {
	opacity: .9
}

.popup {
	left: 50%;
	top: 50%;
	z-index: 1000;
	border-radius: 5px;
	overflow: hidden
}

.popup .close {
	position: absolute;
	right: 20px;
	top: 10px;
	display: block;
	width: 18px;
	height: 18px;
	line-height: 16px;
	cursor: pointer;
	font-size: 22px;
	color: #666;
	z-index: 10;
	font-family: Tahoma
}

.popup .close:hover {
	background-color: #e4393c;
	border-radius: 100%;
	color: #f8f8f8
}

.gotop {
	position: fixed;
	width: 48px;
	bottom: 20%;
	right: 20px;
	z-index: 99
}

.gotop a, .gotop li {
	width: 48px;
	position: relative
}

.gotop a {
	display: block;
	height: 48px;
	background: url(../img/ui_gotop_bg.png) no-repeat
}

.gotop .phone_show, .gotop .qrcode_show {
	display: none;
	width: 208px;
	height: 208px;
	top: -10px;
	left: -195px
}

.gotop .top {
	display: none
}

.gotop .btn_suggest {
	background-position: 0 0
}

.gotop .btn_qrcode {
	background-position: 0 -48px
}

.gotop .btn_phone {
	background-position: 0 -96px
}

.gotop .btn_qq {
	background-position: 0 -144px
}

.gotop .btn_gotop {
	background-position: 0 -192px
}

.gotop .btn_suggest:hover {
	background-position: -48px 0
}

.gotop .btn_qrcode:hover {
	background-position: -48px -48px
}

.gotop .btn_phone:hover {
	background-position: -48px -96px
}

.gotop .btn_qq:hover {
	background-position: -48px -144px
}

.gotop .btn_gotop:hover {
	background-position: -48px -192px
}

.gotop .qrcode_show {
	background: url(../img/ui_gotop_bg.png) -96px 0 no-repeat;
	position: absolute
}

.gotop .phone_show {
	background: url(../img/ui_gotop_bg.png) -304px 0 no-repeat;
	position: absolute
}

.gotop a p {
	display: block;
	position: absolute;
	height: 47px;
	line-height: 47px;
	color: #fff;
	top: 0;
	right: 47px;
	white-space: nowrap;
	width: 0;
	padding: 0;
	background: url(../img/ui_gotop_bg.png) -96px -226px no-repeat;
	overflow: hidden;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	transition: .25s
}

.gotop a:hover p {
	width: 80px;
	padding-right: 6px
}

.jcarousel-next, .jcarousel-prev {
	position: absolute;
	top: 43px;
	width: 30px;
	height: 74px;
	cursor: pointer
}

#hm_t_undefined {
	display: none !important
}

.jcarousel-next, .jcarousel-prev {
	background: url(img/a1d81803.util_jcarousel_arrow.png) no-repeat;
	overflow: hidden
}

.jcarousel-prev {
	display: none;
	left: 0;
	background-position: 0 0
}

.jcarousel-next {
	display: none;
	right: 0;
	background-position: -31px 0
}

.jcarousel-next-disabled, .jcarousel-prev-disabled {
	background: 0 0;
	cursor: default
}

.slidesjs-container a {
	display: none
}

.slidesjs-pagination {
	margin: 7px 0 0;
	float: right;
	list-style: none
}

.slidesjs-pagination li {
	float: left;
	margin: 0 1px
}

.slidesjs-pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url(img/35cc3241.util_slides_page.png);
	background-position: 0 0;
	float: left;
	overflow: hidden
}

.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover,
	.slidesjs-pagination li a:hover.active {
	background-position: 0 -13px
}